  .Draw {  
    width: 100%;
    position: relative;
    z-index: 1; /* 낮은 z-index 값 */
    margin-top: 20px;
  }
  
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  